xmlschema/HPnG.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
         <xs:element name="HPnG">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="places">
                                 <xs:complexType>
                                       <xs:choice maxOccurs="unbounded">
                                             <xs:element name="discretePlace" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:attribute name="id" type="xs:token" use="required"></xs:attribute>
                                                         <xs:attribute name="marking" type="xs:nonNegativeInteger" use="required"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="continuousPlace" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:attribute name="capacity" type="nonNegativeDouble"  use="required"></xs:attribute>
                                                         <xs:attribute name="infiniteCapacity" type="xs:boolean"  use="required"></xs:attribute>
                                                         <xs:attribute name="id" type="xs:token" use="required"></xs:attribute>
                                                         <xs:attribute name="level" type="nonNegativeDouble" use="required"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:choice>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="transitions">
                                 <xs:complexType>
                                       <xs:choice maxOccurs="unbounded">
                                             <xs:element name="generalTransition" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="parameter" maxOccurs="unbounded" minOccurs="1">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="name" use="required">
										<xs:simpleType><xs:restriction base="xs:string">
											<xs:enumeration value="alpha"/>
										      	<xs:enumeration value="beta"/>
										      	<xs:enumeration value="delta"/>
										      	<xs:enumeration value="lambda"/>
										      	<xs:enumeration value="mu"/>
										      	<xs:enumeration value="nu"/>
											<xs:enumeration value="sigma"/>
										      	<xs:enumeration value="m"/>
										      	<xs:enumeration value="n"/>
										      	<xs:enumeration value="a"/>
										      	<xs:enumeration value="b"/>
										    </xs:restriction></xs:simpleType>
										</xs:attribute>
                                                                           <xs:attribute name="value" type="xs:double" use="required"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                         <xs:attribute name="id" type="xs:token" use="required"></xs:attribute>
							 <xs:attribute name="cdf" use="required">
								<xs:simpleType><xs:restriction base="xs:string">
									<xs:enumeration value="uniform"/>
								      	<xs:enumeration value="normal"/>
								      	<xs:enumeration value="foldednormal"/>
								      	<xs:enumeration value="halfnormal"/>
								      	<xs:enumeration value="inversenormal"/>
								      	<xs:enumeration value="lognormal"/>
										<xs:enumeration value="beta"/>
								      	<xs:enumeration value="chauchy"/>
								      	<xs:enumeration value="chi"/>
								      	<xs:enumeration value="chisquare"/>
								      	<xs:enumeration value="exp"/>
										<xs:enumeration value="fisherf"/>
								      	<xs:enumeration value="frechet"/>
								      	<xs:enumeration value="gamma"/>
								      	<xs:enumeration value="gumbel"/>
								      	<xs:enumeration value="inversegamma"/>
								      	<xs:enumeration value="laplace"/>
								      	<xs:enumeration value="logistic"/>
										<xs:enumeration value="loglogistic"/>
								      	<xs:enumeration value="pareto"/>
								      	<xs:enumeration value="rayleigh"/>
								      	<xs:enumeration value="student"/>
								      	<xs:enumeration value="weibull"/>
								</xs:restriction></xs:simpleType>
							</xs:attribute>
                                                         <xs:attribute name="priority" type="xs:nonNegativeInteger" use="required"></xs:attribute>
                                                         <xs:attribute name="weight" type="positiveDouble" use="required"></xs:attribute>
                                                         <xs:attribute name="policy" use="required">
								<xs:simpleType><xs:restriction base="xs:string">
									<xs:enumeration value="resume"/>
								      	<xs:enumeration value="repeatdifferent"/>
								      	<xs:enumeration value="repeatidentical"/>
								</xs:restriction></xs:simpleType>
							</xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="immediateTransition" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:attribute name="id" type="xs:token" use="required"></xs:attribute>
                                                         <xs:attribute name="priority" type="xs:nonNegativeInteger" use="required"></xs:attribute>
                                                         <xs:attribute name="weight" type="positiveDouble" use="required"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
					     <xs:element name="deterministicTransition" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:attribute name="id" type="xs:token" use="required"></xs:attribute>
                                                         <xs:attribute name="priority" type="xs:nonNegativeInteger" use="required"></xs:attribute>
                                                         <xs:attribute name="weight" type="positiveDouble" use="required"></xs:attribute>
							 <xs:attribute name="discTime" type="positiveDouble" use="required"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="continuousTransition" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:attribute name="id" type="xs:token" use="required"></xs:attribute>
                                                         <xs:attribute name="rate" type="nonNegativeDouble" use="required"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="dynamicContinuousTransition" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="pid" maxOccurs="unbounded">
								<xs:complexType>
								    <xs:simpleContent>
								      <xs:extension base="xs:token">
									<xs:attribute name="coef" type="xs:double" use="required"></xs:attribute>
								      </xs:extension>
								    </xs:simpleContent>
								  </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                         <xs:attribute name="id" type="xs:token" use="required"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:choice>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="arcs">
                                 <xs:complexType>
                                       <xs:choice maxOccurs="unbounded">
                                             <xs:element name="discreteArc" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:attribute name="id" type="xs:token" use="required"></xs:attribute>
							 <xs:attribute name="weight" type="positiveDouble" use="required"></xs:attribute>
                                                         <xs:attribute name="fromNode" type="xs:token" use="required"></xs:attribute>
							 <xs:attribute name="toNode" type="xs:token" use="required"></xs:attribute>
                                             	   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="continuousArc" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:attribute name="id" type="xs:token" use="required"></xs:attribute>
							 <xs:attribute name="weight" type="positiveDouble" use="required"></xs:attribute>
                                                         <xs:attribute name="fromNode" type="xs:token" use="required"></xs:attribute>
							 <xs:attribute name="toNode" type="xs:token" use="required"></xs:attribute>
                                                         <xs:attribute name="priority" type="xs:nonNegativeInteger" use="required"></xs:attribute>
                                                         <xs:attribute name="share" type="positiveDouble" use="required"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="guardArc" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:attribute name="id" type="xs:token" use="required"></xs:attribute>
							 <xs:attribute name="weight" type="nonNegativeDouble" use="required"></xs:attribute>
                                                         <xs:attribute name="fromNode" type="xs:token" use="required"></xs:attribute>
							 <xs:attribute name="toNode" type="xs:token" use="required"></xs:attribute>
                                                         <xs:attribute name="isInhibitor" type="xs:boolean" use="required"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:choice>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>

	<xs:simpleType name="nonNegativeDouble">
	  <xs:restriction base="xs:double">
	    <xs:minInclusive value="0.0"/>
	  </xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="positiveDouble">
	  <xs:restriction base="xs:double">
	    <xs:minExclusive value="0.0"/>
	  </xs:restriction>
	</xs:simpleType>

   </xs:schema>
